@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h3 {
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: default;
}
h4 {
  margin-top: 4vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-shadow: 0 0 10px rgb(0, 119, 255);
  cursor: default;
}
h5 {  
  margin-top: 1vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size:  20px;
  cursor: default;
}
.criar-pedidoproduto-container{
  margin-top: 5vh;
    z-index: 0;
    width: 95%;
    min-height: 91%;
    background-color: #ffffff;;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
}
.titulo-pedido {
    z-index: 2;
    width: 100%;
    height: 10vh;
    border-radius: 30px 30px 30px 5px;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(0, 119, 255);
}
.container-cadastro-produto {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.formcadastro-produto {
  padding: 15px;
  margin: 50px;
  width: 100%;
  height:50vh;
  border-radius: 30px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgb(0, 119, 255);
}
.detalhes-produtos {
  width: 100%;
  height: 17%;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.button-cadastro-produtos {
  margin: 5px;
  display: block;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgb(0, 119, 255);
  border: none;
  border-radius: 20px;
  height: 50px;
  outline-color: rgb(0, 119, 255);
  text-align: center;
}
.button-cadastro-enviar {
  margin: 5px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  width: 60%;
  background-color: rgb(0, 119, 255);
  color: #000000;
  border: none;
  border-radius: 20px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-cadastro-enviar:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  box-shadow: 0 0 16px rgb(0, 119, 255);
  background-color: #ffffff;;
  color: #3691fa;
}
.tablebox {
  margin-left: 80px;
  background-color: #eeeeee;
  width: 100%;
  height: 50vh;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 0 16px rgb(0, 119, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  overflow-y: auto; /* Adicione essa linha para a barra de rolagem vertical */
}
.tablebox::-webkit-scrollbar {
  margin-left: -12px;
  width: 12px;   
}

.tablebox::-webkit-scrollbar-track {
  background: #eeeeee; 
}

.tablebox::-webkit-scrollbar-thumb {
  background-color: rgb(0, 119, 255);    
  border-radius: 0 15px 15px 0;       
  border: 3px solid rgb(255, 255, 255);  
}
th, td {
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}
.tabela, th, td {
  border-collapse: collapse;
  border: 1px solid rgb(0, 119, 255);
  padding: 5px; 
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #000;
  text-shadow: rgb(0, 119, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tabela {
  background-color: rgb(0, 119, 255);
  border-collapse: separate;
  margin-top: 10px;
  border-radius: 0;
}
.deletebox {
  display: flex;
  align-items: center;
  justify-content: row;
}
.deleteInput {
  cursor: pointer;
  display: block;
  background-color: red;
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: rgb(255, 8, 8);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.deleteInput:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  box-shadow: 0 0 16px rgb(255, 0, 0);
  background-color: #ff4242;;
  color: #000000;
}
@media only screen and (min-width: 899px) and (max-width: 1441px) {
  .main-horizontal{
    border-radius: 0;
  }
  .submenu{
    height: 6vh;
  }
  h3{
    font-size: 40px;
  }
  h4{
    font-size: 30px;
  }
  .titulo-pedido{
    height: 7vh;
    border-radius: 30px 30px 0 0;
  }
}