@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
p {
  color: #000000;
  font-size: 14px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h3 {
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: default;
}
h4 {
  margin-top: 4vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-shadow: 0 0 10px rgb(0, 119, 255);
  cursor: default;
}
h5 {  
  margin-top: 1vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size:  29px;
  cursor: default;
}
h6 {  
  margin-left: 10px;
  margin-top: 1vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size:  20px;
  cursor: default;
}
h7 {
  margin-top: 4vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-shadow: 0 0 5px rgb(0, 119, 255);
  cursor: default;
}
h8 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-shadow: 0 0 5px rgb(0, 119, 255);
  cursor: default;
}
.container-prin {
  margin-top: -91vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.criar-danfe-container {
    z-index: 0;
    width: 95%;
    min-height: 8vh;
    height: 90%;
    background-color: #ffffff;;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: first baseline;
}
.titulo-pedido {
    z-index: 2;
    width: 100%;
    height: 10vh;
    border-radius: 30px 30px 30px 5px;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(0, 119, 255);
}
.info-total {
  z-index: 1;
  background-color: #ffffff00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
}
.criar-danfe{
  background-color: #ff000000;
  display: flex;
  flex-direction: row;
}
.submenus-danfe{
  z-index: 3;
  margin-top: -1vh;
  width: 50vh;
  height: 70vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  border-radius: 0 30px 30px 30px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
}
.info-danfe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}
.button-pedidos{
    margin-top: 15px;
    color: rgb(0, 93, 199);
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.button-pedidos:hover {
    color: rgb(0, 119, 255);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    animation: animate 1s linear infinite;
    text-shadow: 0 0 16px rgb(0, 119, 255);
}
#enviar-criar-pedidos{
  cursor: pointer;
  margin-top: 25vh;
  display: block;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(0, 119, 255);
  box-shadow: 0 0 7px rgb(0, 119, 255);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#enviar-criar-pedidos:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  text-shadow: 0 0 16px rgb(0, 119, 255);
  background-color: #3691fa;;
}
.criar-danfes-container {
  margin-top: -1vh;
  width: 90%;
  height: 74vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  border-radius: 0 0px 30px 0px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
  overflow-y: scroll;
}
.criar-danfes-container::-webkit-scrollbar {
  width: 12px;  
  border-radius: 0 30px 30px 0;     
}

.criar-danfes-container::-webkit-scrollbar-track {
  background: #eeeeee00; 
  border-radius: 30px;     
}

.criar-danfes-container::-webkit-scrollbar-thumb {
  background-color: rgb(0, 119, 255);    
  border-radius: 30px;       
  border: 3px solid rgb(255, 255, 255);  
}
.input-cod-danfe {
  text-align: center;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 12px #3691fa;
  outline: #0077ff;
}
.input-enviar-cod-danfe {
  margin-left: 5px;
  cursor: pointer;
  width: 40px;
  font-size: 15px;
  border-radius: 15px;
  border: 0;
  background-color: #0077ff;
  box-shadow: 0 0 12px #0077ff;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.input-enviar-cod-danfe:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  background-color: #4ea0ff;
}
.danfe {
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
}
.logo-danfe {
  width: 15%;
  height: auto;
  height: 13vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-div-danfe {
  margin-top: -20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coddanfe {
  width: 85%;
  height: 13vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.infos-danfe {
  width: 30%;
  height: 20vh;
  border: 1px solid black;
  flex-direction: column;
  align-items: flex-start
}
.barras-danfe {
  width: 70%;
  height: 100%;
  min-height: 20%;
  max-height: 20vh;
  background-image: url('cssimg/codigobarras.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}
.infos-trans {
  width: 50%;
  height: 20vh;
  border: 1px solid black;
  flex-direction: column;
  align-items: flex-start
}
.infos-fornecedor {
  width: 50%;
  height: 20vh;
  border: 1px solid black;
  flex-direction: column;
  align-items: flex-start
}
.infos-recptor {
  width: 50%;
  height: 20vh;
  border: 1px solid black;
  flex-direction: column;
  align-items: flex-start
}
.infos-adicionais {
  width: 50%;
  height: 20vh;
  border: 1px solid black;
  flex-direction: column;
  align-items: flex-start
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
 h1 {
    font-size: 19px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    text-wrap: nowrap;
}
.container-prin{
  margin-top: -89vh;
}
h3{
  font-size: 24px;
}
.info-total {
  z-index: 1;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
}
.criar-danfe{
  background-color: #ff000000;
  display: flex;
  flex-direction: column;
}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  h1 {
    font-size: 30px;
    cursor: default;
    text-wrap: nowrap;
}

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  h1 {
    font-size: 30px;
    cursor: default;
    text-wrap: nowrap;
}
h4 {
  margin: 5px;
}
nav {
    width: 20em;
    height: auto;
    margin-top: 90vh;
}
.container-prin {
    margin-top: -91vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.submenu {
  margin-top: 6vh;
  height: 6vh;
}
.criar-danfe-container {
  margin-top: 40px;
  width: 95%;
  height: auto;
}
.criar-danfes-container {
  width: 100%;
}
.info-total {
justify-content: left;
width: 100%;
}
.submenus-pedidos {
width: 30%;
height: 100%;
}
.criardanfes{
    margin: 30px;
    width:60vh;
    height: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    overflow-y: auto;
}
.options-pedido {
  width: 83vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.options-criarpedido {
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  width: 50vh;
  height: auto;
}
.tabela {
  width: 100px;
  height: auto;
}
th, tr, td {
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 15px;
}
}

@media only screen and (min-width: 1441px) {
  .submenu {
    margin-top: 0vh;
}
  .criar-danfe-container {
    margin-top: 40px;
    width: 95%;
    height: auto;
  }
  .info-total {
  justify-content: left;
  width: 100%;
  }
  .submenus-pedidos {
  width: 30%;
  height: 100%;
  }

  .criar-danfes-container {
    margin-left: 150px;
    width: 69%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 0 #eeeeee00;
    
    
  }
  .nota_fiscal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
}