@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cssimg/fundopag.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #000000;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    cursor: default;
}
h6 {
    margin-top: 15%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #000000;
    text-align: center;
    text-shadow: 0 0 5px rgb(0, 119, 255);
    cursor: default;
}
.alunos-turma {
    margin-top: 40px;
    width: 98%;
    height: auto;
    min-height: 80vh;
    overflow-y: auto;
    border-radius: 30px 10px 10px 30px;
    box-shadow: 0 0 15px rgb(0, 119, 255);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alunos-turma::-webkit-scrollbar {
    width: 2vh;   
  }
  
  .alunos-turma::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); 
    border-radius: 0 15px 15px 0;     
  }
 
  .alunos-turma::-webkit-scrollbar-thumb {
    background-color: rgb(0, 119, 255);    
    border-radius: 0 15px 15px 0;       
    border: 3px solid rgb(255, 255, 255);  
  }
.titulo-turmas {
    width: 100%;
    height: 7vh;
    border-radius: 0;
    background-color: rgb(0, 119, 255);
    box-shadow: 0 0 7px rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-alunos {
    width: 195vh;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid rgb(0, 119, 255);
    background-color: rgb(0, 119, 255);
    box-shadow: 0 0 7px rgb(0, 119, 255);
}
tr {
    background-color: #fff;
}
th {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 7px rgb(0, 119, 255);
    background-color: rgb(93, 160, 236);
}
td {
  cursor: default;
    height: 2vh;
    background-color: rgb(255, 255, 255);
    color: #000000bb;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
tr,th, td {
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(0, 119, 255);
}
#novasenha {
  display: block;
  width: 100%;
  height: 50px;
  min-height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  text-align: center;
}
.button-alterarsenha {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-alterarsenha:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.01);
  animation: animate 1s linear infinite;
  background-color: rgb(93, 160, 236);
  color: #000;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: auto;
  }
  h1 {
    font-size: 19px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    text-wrap: nowrap;
}
.alunos-turma {
  margin-top: 60px;
  width: 97%;
  height: 80%;
  font-size: 20px;
}
.table-alunos {
  width: 100%;
}
tr,th, td {
  font-size: 12px;
}

.button-alterarsenha {
font-size: 12px;
}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  h1 {
    font-size: 30px;
    cursor: default;
    text-wrap: nowrap;
}

}

@media only screen and (min-width: 899px) and (max-width: 1441px) {
 .titulo-turmas{
  width: 125.3%;
 }
 .alunos-turma{
  border-radius: 30px 30px 10px 10px;
 }
}
