h2 {
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
p {
    margin: 10px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-wrap: wrap;
    word-break:normal;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.main-horizontal {
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 119, 255);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ul-main {
    display: flex;
    flex-direction: row;
}

.li-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.teste {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.juntos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div-button-main {
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.button-main {
    position: relative;
    display: block;
    background: rgb(0, 119, 255);
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.button-main:before,
.button-main:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.button-main:before {
    top: -10px;
}

.button-main:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ label .button-main {
    transform: rotate(45deg);
}

input:checked ~ label .button-main:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .button-main:after {
    transform: rotate(90deg);
    bottom: 0;
}

input[type=checkbox]:checked~nav {
    transform: translate(350px);
}

nav {
    width: 20em;
    height: auto;
    position: absolute;
    margin-top: 50vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 119, 255);
    border-radius: 0 15px 15px 0;
    left: -350px;
    transition: all 1.0s;
}

.ul-button {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.li-vertical {
    border-bottom: 1px solid rgb(0, 119, 255);
}

.li-vertical, .li-vertical-menu {
    width: 100%;
    height: 4.3em;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-vertical-menu {
    cursor: default;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

.a-vertical {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.a-vertical:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    animation: animate 1s linear infinite;
    color: rgb(0, 119, 255);
}

.container-prin {
    margin-top: -90vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.submenu {
    width: 100%;
    height: 5vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 15px rgb(0, 119, 255);
}
.lisubmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.functions-menu {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 15px;
    color: black;
    text-decoration: none;
    outline: none;
    text-shadow: 0 0 6px rgb(0, 119, 255);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.functions-menu:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    animation: animate 1s linear infinite;
    text-shadow: 0 0 16px rgb(0, 119, 255);
}
.ajuda {
    display: inline-block;
    cursor: pointer;
    position:relative; 
    top:-37vh; 
    left:75vw; 
    background-image: url("cssimg/ajuda.png");
    background-size: cover; 
    background-position: center;
    width:4.5vw; height:8vh; 
    border-radius:5px;
}
.ajuda-button {
    box-shadow: 0 0 5px rgb(255, 255, 255);
    outline: none;
    display: block;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.ajuda-button:hover {
    background-color: transparent;
    transition: 1s;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.ajuda-content {
    display: none;
    position: relative;
    right:60vw;
    background-color: #f9f9f9;
    width: 60vw;
    border-radius:5px;
    height: 40vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.ajuda-container {
    width: 30vw;
    max-width: 30vw;
    height:38vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
}
.novo-projeto {
    border-radius: 15px;
    width: 10vw;
    height:20vh;
    background-image: url("cssimg/novoprojeto-ajuda.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.continuar-projeto {
    border-radius: 15px;
    width: 10vw;
    height:20vh;
    background-image: url("cssimg/continuar-projeto-ajuda.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.turmas-projeto {
    border-radius: 15px;
    width: 10vw;
    height:20vh;
    background-image: url("cssimg/turmas-ajuda.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.continuar-projetos-ajuda {
    border-radius: 15px;
    width: 10vw;
    height:20vh;
    background-image: url("cssimg/projetos-continuar-ajuda.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.projetos-ajuda {
    border-radius: 15px;
    width: 10vw;
    height:20vh;
    background-image: url("cssimg/projetos-ajuda.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.turma-ajuda-ajuda {
    border-radius: 15px;
    width: 12vw;
    height:20vh;
    background-image: url("cssimg/turmas-ajuda-ajuda.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  
  h2 {
      margin-left: 2vh;
      font-size: 15px;
      text-wrap: nowrap;
  }
  .main-horizontal {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-radius: 0;
  }
  .button-main {
      margin-left: 0;
  }
  .ul-main {
      display: flex;
      flex-direction: row;
  }
  .a-vertical-menu{
    font-size: 25px;
  }
  .a-vertical{
    font-size: 14px;
    text-align: center;
    font-weight: 600;
  }
  
  .li-main {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .teste {
      width: auto;
      height: 100%;
  }
  nav {
      width: 20em;
      height: 85%;
      margin-top: 90vh;
  }
  .functions-menu {
    margin: 3px;
    font-size: 7px;
}
  
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
  h2 {
      text-align: right;
      font-size: 25px;
      cursor: default;
      text-wrap: nowrap;
  }
  .main-horizontal {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  .teste2 {
      width: 50vh;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      align-items: center;
  }
  .button-main {
      margin-left: 0;
  }
  nav {
      width: 20em;
      height: auto;
      margin-top: 60vh;
  }
  .li-vertical, .li-vertical-menu {
    height: 5em;
    margin-top: 5px;
  }
  
  }
  
  @media only screen and (min-width: 899px) and (max-width: 1441px) {
    h1 {
      font-size: 30px;
      cursor: default;
      text-wrap: nowrap;
  }
  
  }
