@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h3 {
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: default;
}
h4 {
  margin-top: 4vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-shadow: 0 0 10px rgb(0, 119, 255);
  cursor: default;
}
h5 {  
  margin-top: 1vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size:  29px;
  cursor: default;
}
h6 {  
  margin-left: 10px;
  margin-top: 1vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size:  20px;
  cursor: default;
}
h7 {
  margin-top: 4vh;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-shadow: 0 0 5px rgb(0, 119, 255);
  cursor: default;
}
h8 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-shadow: 0 0 5px rgb(0, 119, 255);
  cursor: default;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-horizontal {
  z-index: 1;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(0, 119, 255);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ul-main {
  display: flex;
  flex-direction: row;
}

.li-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.teste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.div-button-main {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.button-main {
  margin-left: -70vh;
  position: relative;
  display: block;
  background: rgb(0, 119, 255);
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.button-main:before,
.button-main:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.button-main:before {
  top: -10px;
}

.button-main:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .button-main {
  transform: rotate(45deg);
}

input:checked ~ label .button-main:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .button-main:after {
  transform: rotate(90deg);
  bottom: 0;
}

input[type=checkbox]:checked~nav {
  transform: translate(350px);
}

nav {
  width: 20em;
  height: auto;
  position: absolute;
  margin-top: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(0, 119, 255);
  border-radius: 0 15px 15px 0;
  left: -350px;
  transition: all 1.0s;
}

.ul-button {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.li-vertical {
  border-bottom: 1px solid rgb(0, 119, 255);
}

.li-vertical, .li-vertical-menu {
  width: 100%;
  height: 4.3em;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-vertical-menu {
  cursor: default;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.a-vertical {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.a-vertical:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  color: rgb(0, 119, 255);
}

.container-prin {
  margin-top: -91vh;
  width: 100%;
  height: 91vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.submenu {
    margin-top: 0vh;
    width: 100%;
    height: 5vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 15px rgb(0, 119, 255);
}
.lisubmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.functions-menu {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 15px;
    color: black;
    text-decoration: none;
    outline: none;
    text-shadow: 0 0 6px rgb(0, 119, 255);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.functions-menu:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    animation: animate 1s linear infinite;
    text-shadow: 0 0 16px rgb(0, 119, 255);
}
.criar-pedido-container {
    z-index: 0;
    width: 95%;
    min-height: 91%;
    background-color: #ffffff;;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: first baseline;
}
.titulo-pedido {
    z-index: 2;
    width: 100%;
    height: 10vh;
    border-radius: 30px 30px 30px 5px;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(0, 119, 255);
}
.info-total {
  z-index: 1;
  background-color: #ffffff00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.criar-pedido {
  background-color: #ff000000;
  display: flex;
  flex-direction: row;
}
.submenus-pedidos {
  z-index: 3;
  margin-top: -1vh;
  width: 50vh;
  height: 74vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  border-radius: 0 30px 30px 30px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
}
.info-pedido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
}
.button-pedidos{
    margin-top: 15px;
    color: rgb(0, 93, 199);
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.button-pedidos:hover {
    color: rgb(0, 119, 255);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    animation: animate 1s linear infinite;
    text-shadow: 0 0 16px rgb(0, 119, 255);
}
#enviar-criar-pedidos{
  cursor: pointer;
  margin-top: 25vh;
  display: block;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(0, 119, 255);
  box-shadow: 0 0 7px rgb(0, 119, 255);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#enviar-criar-pedidos:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  text-shadow: 0 0 16px rgb(0, 119, 255);
  background-color: #3691fa;;
}
.criar-pedidos-container {
  margin-top: -1vh;
  width: 141vh;
  height: 74vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
  border-radius: 0 0px 30px 0px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
}
.criarpedidos {
    margin: 30px;
    width:80%;
    height: 80%;
    background-color: #eeeeee;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}
.options-pedido {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.produtos-pedido {
    width: 80%;
    height: 80%;
    background-color: #eeeeee;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}
.produtos-pedido::-webkit-scrollbar {
  width: 12px;  
  border-radius: 0 30px 30px 0;     
}

.produtos-pedido::-webkit-scrollbar-track {
  background: #eeeeee; 
  border-radius: 0 30px 30px 0;     
}

.produtos-pedido::-webkit-scrollbar-thumb {
  background-color: rgb(0, 119, 255);    
  border-radius: 0 15px 15px 0;       
  border: 3px solid rgb(255, 255, 255);  
}
#verprodutoscadastrados {
  cursor: pointer;
  display: block;
  margin-top: 20px;
  width: 110%;
  height: 28px;
  background-color: rgb(0, 119, 255);
  color: #000000;
  border: none;
  border-radius: 20px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#verprodutoscadastrados:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  box-shadow: 0 0 16px rgb(0, 119, 255);
  background-color: #ffffff;;
  color: #3691fa;
}
.ahrefcadastrar {
  text-decoration: none;
  color: #000;
}
.options-criarpedido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  width: 95%;
  height: 70px;
}
.options-criarpedido-input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-options-criar-pedido {
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  outline-color: #3691fa;
  box-shadow: 0 0 7px rgb(0, 119, 255);
  text-align: center;
}
.input-options-criar-pedido-select {
  width: 300px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  outline-color: #3691fa;
  box-shadow: 0 0 7px rgb(0, 119, 255);
  text-align: center;
}
.options-label {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0 0 30px 30px;
}
.input-function-criar-pedido {
  cursor: pointer;
  width: 300px;
  height: 25px;
  margin-top: 20px;
  background-color: #3691fa;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 7px rgb(0, 119, 255);
  text-align: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.input-function-criar-pedido:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  box-shadow: 0 0 16px rgb(0, 119, 255);
  background-color: #ffffff;;
  color: #3691fa;
}
.tabela {
  padding: 5px;
  width: 100%;
  height: 300px;
  background-color: rgb(0, 119, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(0, 119, 255);
}
th, tr, td {
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-size: 15px;
}
.input-informacao {
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #eeeeee;
  border: 1px solid #3691fa;
  border-radius: 3px;
  outline-color: #3691fa;
}
.input-informacao-atualizar {
  cursor: pointer;
  width: 100%;
  background-color: rgb(0, 119, 255);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 2px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.input-informacao-atualizar:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  box-shadow: 0 0 16px rgb(0, 119, 255);
  background-color: #ffffff;;
  color: #3691fa;
}
.input-informacao-delete {
  cursor: pointer;
  background-color: red;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.input-informacao-delete:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  box-shadow: 0 0 16px rgb(255, 0, 0);
  background-color: #ff4242;;
  color: #000000;
}
.input-finalizar-pedido {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-finalizar-pedido-button {
  margin-top: 3;
  cursor: pointer;
  width: 70%;
  height: 50px;
  background-color: rgb(0, 119, 255);
  border-radius: 30px;
  color: #ffffff;
  border: none;
  box-shadow: 0 0 16px rgb(0, 119, 255);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.input-finalizar-pedido-button:hover {
  background-color: white;
  color: #3691fa;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
}
#texto {
  width: 80%;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 20px;
  text-align: center;
  outline-color: #3691fa;
  box-shadow: 0 0 12px #3691fa;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  h1 {
    font-size: 19px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    text-wrap: nowrap;
}

h2 {
    margin-left: 2vh;
    font-size: 15px;
    text-wrap: nowrap;
}
.main-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button-main {
    margin-left: 0;
}
.ul-main {
    display: flex;
    flex-direction: row;
}

.li-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.teste {
    width: auto;
    height: 100%;
}
nav {
    width: 20em;
    height: 85%;
    margin-top: 90vh;
}
.container-prin {
    margin-top: -91vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  h1 {
    font-size: 30px;
    cursor: default;
    text-wrap: nowrap;
}

h2 {
    text-align: right;
    font-size: 25px;
    cursor: default;
    text-wrap: nowrap;
}
.main-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.teste2 {
    width: 50vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}
.button-main {
    margin-left: 0;
}
nav {
    width: 20em;
    height: auto;
    margin-top: 60vh;
}
.li-vertical, .li-vertical-menu {
  height: 5em;
  margin-top: 5px;
}
.container-prin {
    margin-top: -91vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  h1 {
    font-size: 30px;
    cursor: default;
    text-wrap: nowrap;
}

h2 {
    margin-left: 300%;
    font-size: 25px;
    cursor: default;
    text-wrap: nowrap;
}
h4 {
  margin: 5px;
}
nav {
    width: 20em;
    height: auto;
    margin-top: 90vh;
}
.container-prin {
    margin-top: -91vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.submenu {
  margin-top: 6vh;
  height: 6vh;
}
.criar-pedido-container {
  margin-top: 40px;
  width: 95%;
  height: auto;
}
.criar-pedidos-container {
  width: 100%;
}
.info-total {
justify-content: left;
width: 100%;
}
.submenus-pedidos {
width: 30%;
height: 100%;
}
.criarpedidos {
    margin: 30px;
    width:60vh;
    height: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    overflow-y: auto;
}
.options-pedido {
  width: 83vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.options-criarpedido {
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  width: 50vh;
  height: auto;
}
}

@media only screen and (min-width: 1441px) {
    /* Add your responsive styles for large screens (e.g., larger monitors) here */
}