@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h2 {
    margin-left: 140vh ;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: default;
  }
  h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 1vh;
    text-shadow: 0 0 2px rgb(0, 119, 255);
    cursor: default;
  }
  h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 5px rgb(212, 220, 228);
  }
  h6 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin-left: 10px;
    text-shadow: 0 0 2px rgb(212, 220, 228);
  }
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.main-horizontal {
    z-index: 1;
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(0, 119, 255);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ul-main {
    display: flex;
    flex-direction: row;
}
.li-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div-button-main {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.button-main {
  position: relative;
  display: block;
  background: rgb(0, 119, 255);
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.button-main:before,
.button-main:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.button-main:before {
  top: -10px;
}

.button-main:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .button-main {
  transform: rotate(45deg);
}

input:checked ~ label .button-main:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .button-main:after {
  transform: rotate(90deg);
  bottom: 0;
}
input[type=checkbox]:checked~nav {
    transform: translate(350px);
}
nav {
  width: 20em;
  height: 90dvh;
  position: absolute;
  margin-top: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(0, 119, 255);
  border-radius: 0 15px 15px 0;
  left: -350px;
  transition: all 1.0s;
}
.ul-button {
  display: flex;
  flex-direction: column;
  justify-content:baseline;
}
.li-vertical {
  border-bottom: 1px solid rgb(0, 119, 255);
}
.li-vertical, .li-vertical-menu{
  width: 100%;
  height: 4.75em;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-vertical-menu {
  cursor: default;
  text-decoration: none;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
.a-vertical {
  text-decoration: none;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.a-vertical:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  color: rgb(0, 119, 255);
}
.container-prin {
    margin-top: -91vh;
    width: 100%;
    height: 91vh;
    background-image: url("cssimg/fundopag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-turmas {
  width: 95%;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
  display: flex;
  flex-direction: row;
}
.criar-turmas {
  width: 20%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 119, 255);
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
}
.titulo-criar-turmas {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#formturma {
  height: 100%;
  border-radius:  0 30px 30px;
}
.form-criar-turma {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  border-radius: 30px 0 0 30px;
  background-color: #fff;
}
.inpu-criar-turma {
  width: 100%;
  height: 20%;
  margin-left: 25px;
  margin-top: 50px;
}
#nomeTurma {
  display: flex;
  text-align: center;
  width: 80%;
  height: 40px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 7px;
  outline: none;
  background-color: #fff;
}
#codTurma {
  display: flex;
  text-align: center;
  width: 80%;
  height: 40px;
  border: 1px solid rgb(0, 119, 255);
  border-radius: 7px;
  outline: none;
  background-color: #fff;
}
.button-criar-turma {
  cursor: pointer;
  width: 80%;
  height: 40px;
  border: none;
  background-color: rgb(0, 119, 255);
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-criar-turma:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  background-color: rgb(80, 157, 245);
}
.turmas-criadas {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-turmas {
  z-index: 0;
  cursor: pointer;
  width: 35vh;
  height: 35vh;
  margin: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgb(0, 119, 255);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.9s;
}
.card-turmas:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
}
.delete-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 30px 30px 0 0;
  background-color: rgb(0, 119, 255);
}
.delete-input {
  cursor: pointer;
  z-index: 10;
  margin-left: 5px;
  width: 40px;
  font-size: 20px;
  border: none;
  border-radius: 0 30px 0 30px;
  background-color: rgb(248, 48, 48);
  box-shadow: 0 0 15px rgb(248, 48, 48);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.9s;
}
.delete-input:hover {
  background-color: rgb(255, 118, 118);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 3s linear infinite;
}
.nome-turmas {
  z-index: 3;
  cursor: pointer;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 0;
  background-color: rgb(0, 119, 255);
  box-shadow: 0 0 7px rgb(0, 119, 255);
}
.info-turmas {
  cursor: pointer;
  margin-top: -100px;
  z-index: 2;
  width: 100%;
  height: 35vh;
  border-radius: 0 30px 30px 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: first baseline;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.info-turmas:hover {
  z-index: 10;
  transition: all 3s;
  align-items: first baseline;
}
.vermaisdiv {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.vermais {
  margin: 12px;
  cursor: pointer;
  width: 80%;
  height: 40px;
  border: none;
  background-color: rgb(0, 119, 255);
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(0, 119, 255);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.vermais:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  background-color: rgb(80, 157, 245);
}